.about
  &_text
    p
      text-transform: uppercase
      color: $green
      margin-bottom: 25px
    h1
      @include h2-title-white
      max-width: 860px
      line-height: 120%
      img
        padding-left: 20px