.article
  &-p
    padding-top: 75px
    @media screen and (max-width: $width-container)
      padding-top: 70px
  &_bottom
    &-date
      @include font-family-Helvetica
      font-size: 14px
      line-height: 26px
      letter-spacing: 0.3px
      color: $green
      margin-bottom: 30px
    h2
      @include font-family-Montserrat
      @include bold
      font-size: 36px
      line-height: 65px
      letter-spacing: 2px
      color: $white
      max-width: 680px
      margin-bottom: 30px
      @media screen and (max-width: $width-container)
        font-weight: 800
        font-size: 22px
        line-height: 34px
        letter-spacing: 2px
        margin-bottom: 60px
    &-person
      display: flex
      flex-direction: row
    &-img
      width: 43px
      height: 43px
      border-radius: 100%
      margin-right: 12px
      img
        width: 100%
        height: 100%
        border-radius: 100%
        object-fit: cover
    &-name
      display: flex
      flex-direction: column
      color: $white
      justify-content: center
      p
        @include font-family-Helvetica
        font-size: 14px
        letter-spacing: 0.3px
        margin-bottom: 10px
      span
        @include font-family-Helvetica
        font-size: 12px
        letter-spacing: 0.3px
        opacity: 0.45
  &_title
    @include font-family-Montserrat
    @include bold
    font-size: 22px
    line-height: 38px
    letter-spacing: 0.3px
    color: #2C303C
    margin-bottom: 35px
  &_paragraph
    @include font-family-Helvetica
    font-size: 16px
    line-height: 42px
    letter-spacing: 0.5px
    color: $black
    margin-bottom: 40px
    @media screen and (max-width: $width-container)
      line-height: 1.6
  &_img
    width: 100%
    margin-bottom: 60px
    img
      width: 100%
      object-fit: cover
  &-block
    display: flex
    justify-content: space-between
    @media screen and (max-width: $width-container)
      display: none
  &_also
    background-color: $blue
    margin-top: 120px
    padding-top: 100px
    padding-bottom: 120px
    overflow: hidden
    @media screen and (max-width: $width-container)
      padding-top: 70px
      padding-bottom: 20px
      margin-top: 70px
    h2
      @include font-family-Montserrat
      font-weight: 800
      font-size: 46px
      line-height: 64px
      letter-spacing: 2px
      color: $green
      margin-bottom: 50px
      @media screen and (max-width: $width-container)
        text-align: center
        font-size: 42px
        margin-bottom: 60px
  &_slider
    .slick-list
      overflow: visible !important
    .slick-dots
      @media screen and (max-width: $width-container)
        position: relative
    .slick-dots li button:before
      @media screen and (max-width: $width-container)
        font-size: 20px
    .slick-slide
      margin-right: 20px
      width: 560px
      @media screen and (max-width: $width-container)
        width: 80vw
        height: auto
        margin-right: 20px
        img
          width: 100%
          height: 100%
          object-fit: cover
      .blog-p_item-img
        @media screen and (max-width: $width-container)
          height: 50vw
          img
            height: 100%
      .blog-p_item-plash
        position: inherit
        background-color: $white
        transform: translateY(-70px)
        @media screen and (max-width: $width-container)
          transform: translateY(0)
          padding: 15px 22px
        .plash_top
          @media screen and (max-width: $width-container)
            margin-bottom: 10px
          &-left
            @media screen and (max-width: $width-container)
              font-size: 14px
              margin-bottom: 0
        .plash_center
          @media screen and (max-width: $width-container)
            font-size: 18px
            line-height: 28px
    .arrow-slider_left
      top: -110px
      right: 90px
      left: auto
    .arrow-slider_right
      top: -110px
      right: 0
      left: auto



