.learn-more
  @include font-family-Montserrat
  font-size: 16px
  @include semi-bold
  line-height: 1.4
  letter-spacing: 1.28px
  color: $black-title
  position: relative
  margin-top: 35px
  display: inline-block
  &::after
    content: ''
    position: absolute
    width: 40px
    height: 2px
    background-color: $green
    top: 50%
    transform: translateY(-50%)
    right: -60px
.latest_slider
  .slick-slide
    width: 380px
    height: 600px
    margin-right: 30px

.arrow-slider_left
  background: #eceef0 url(../img/arrow-left-black.svg) no-repeat center
  top: 390px
  left: -650px
.arrow-slider_right
  background: #2e2f34 url(../img/arrow-right-black.svg) no-repeat center
  transform: rotate(180deg)
  top: 390px
  left: -560px
.arrow-slider_left-blog
  background: rgba(255, 255, 255, 0.06) url(../img/arrow-left-white.svg) no-repeat center
  top: -120px
  left: 1120px
.arrow-slider_right-blog
  background: $white url(../img/arrow-left-black.svg) no-repeat center
  transform: rotate(180deg)
  top: -120px
  left: 1200px
.arrow-slider
  position: absolute
  width: 60px
  height: 60px
.blog_slider
  margin-bottom: 80px
  .slick-slide
    width: 447px!important
    height: 370px!important
    margin-right: 50px

.btn_blog-more
  @include font-family-Montserrat
  font-size: 14px
  @include bold
  line-height: 1.2
  letter-spacing: 0.56px
  color: $white
  background-color: $green
  border: none
  margin: 0 auto
  width: 240px
  display: flex
  height: 55px
  align-items: center
  justify-content: center
