.latest
  background-color: $white
  margin-left: 10%
  margin-top: 150px
  margin-bottom: 130px
  width: 90%
  height: auto
  display: flex
  justify-content: space-between
  @media screen and (max-width: $width-container)
    display: block
    width: 100%
    margin-left: 0
    margin-top: 0
    overflow: hidden
    margin-bottom: 0
  &_slider
    width: 790px
    //float: right
    @media screen and (max-width: $width-container)
      width: 100%
      float: none
      padding-left: 15px
      padding-right: 15px
    .slick-list
      @media screen and (max-width: $width-container)
        overflow: visible
        //transform: translateX(-20px)
    .slick-dots
      @media screen and (max-width: $width-container)
        position: relative
    .slick-dots li button:before
      @media screen and (max-width: $width-container)
        font-size: 40px
    &-item
      background-color: $blue
      padding: 57px 0 0 45px
      position: relative
      @media screen and (max-width: $width-container)
        padding-top: 45px
        padding-left: 16px
        padding-right: 16px
      .span-title
        @include font-family-Montserrat
        font-size: 14px
        @include bold
        line-height: 1.2
        letter-spacing: 0.84px
        color: #969ba1
        padding-left: 10px
        padding-bottom: 90px
        display: inline-block
        @media screen and (max-width: $width-container)
          padding: 0
          width: 100%
          text-align: center
      .span-desc
        @include font-family-Montserrat
        font-size: 26px
        @include bold
        line-height: 1.5
        color: $bg
        max-width: 230px
        display: inline-block
        margin-bottom: 75px
        @media screen and (max-width: $width-container)
          font-size: 18px
      img
        padding-bottom: 35px
      button
        display: block
        background-color: transparent
        border: none
        position: absolute
        right: 60px
        @media screen and (max-width: $width-container)
          height: auto
          left: 15px
          bottom: 0
          padding: 0
    &-text
      width: 40%
      //float: left
      margin-top: 95px
      @media screen and (max-width: $width-container)
        width: 100%
        float: none
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
      h2
        @include h2-title
        max-width: 400px
        @media screen and (max-width: $width-container)
          font-size: 42px
          text-align: center
          display: flex
          align-items: center
          flex-direction: column
          justify-content: center

        img
          padding-top: 15px
          @media screen and (max-width: $width-container)
            margin: 15px 0 0 0
            position: relative
            width: 145px
            height: auto
      p
        @include font-family-Montserrat
        @include medium
        margin-top: 30px
        line-height: 1.6
        letter-spacing: 0.96px
        color: $black
        max-width: 400px
        @media screen and (max-width: $width-container)
          font-size: 14px
          padding-left: 15px
          padding-right: 15px
          text-align: center
          margin-bottom: 40px
