=mq($width, $type: max)
  @media only screen and (#{$type}-width: $width)
    @content

@mixin normal
  font-weight: 400
@mixin bold
  font-weight: 700
@mixin semi-bold
  font-weight: 600
@mixin medium
  font-weight: 500

@mixin font-family-Montserrat
  font-family: 'Montserrat', sans-serif
@mixin font-family-Helvetica
  font-family: 'Helvetica', sans-serif
@mixin font-family-Roboto
  font-family: 'Roboto', sans-serif

@mixin h1-title
  @include font-family-Montserrat
  font:
    size: 80px
  line-height: normal
  @include bold
  color: $white
  position: relative
  +mq(768px)
    font-size: 35px
  +mq(480px)
    font-size: 26px

@mixin h2-title
  @include font-family-Montserrat
  font-size: 72px
  @include bold
  line-height: 0.9
  letter-spacing: 1.44px
  color: $green
  position: relative

//
//@mixin h2-title-small
//  @include font-family-Playfair
//  font-size: 32px
//  @include bold
//  color: $black-title
//  +mq(768px)
//    font-size: 26px
//  +mq(480px)
//    font-size: 22px
//
//
//@mixin line-left
//  &::before
//    content: ''
//    position: absolute
//    width: 54px
//    height: 1px
//    background-color: $black
//    bottom: 27px
//    +mq(1200px)
//      width: 40px
//    +mq(768px)
//      width: 40px
//
//@mixin line-center-black
//  &::before
//    content: ''
//    position: absolute
//    width: 54px
//    height: 1px
//    background-color: $black
//    bottom: 27px
//    left: 50%
//    transform: translateX(-50%)
//    +mq(768px)
//      width: 40px
//      bottom: 13px
//
//
//@mixin h2-title-black
//  color: $black-title
//@mixin h2-title-white
//  color: $white
//
//@mixin sub-title
//  @include font-family-Playfair
//  font-size: 60px
//  @include normal
//  line-height: normal
//  color: $white
//  +mq(1200px)
//    font-size: 50px
//  +mq(768px)
//    font-size: 30px
//  +mq(480px)
//    font-size: 20px
//
//@mixin title-desc-white
//  @include font-family-OpenSans
//  font:
//    size: 16px
//  line-height: 1.5
//  color: $white
//@mixin desc
//  @include font-family-OpenSans
//  font-size: 16px
//  color: $black-light
//  line-height: 1.5
//  +mq(1200px)
//    font-size: 14px
//
