<section class="blog">
  <h2>Just a <img src="assets/img/blog.svg" alt="blog" /></h2>
  <div class="blog_slider">
    <a class="blog_slider-item" href="./article-1.html">
      <img src="assets/img/img-index-1.jpg" alt="img1" />
      <p class="item_title">Best advises not to get stuck in design system</p>
      <div class="item_bottom align-items-center">
        <img src="assets/img/img-small-1.png" alt="" />
        <!-- <span class="item_name">Arthur Vasilchenko</span> -->
        <span class="item_date">6 min read</span>
      </div>
    </a>
    <a class="blog_slider-item" href="./article-2.html">
      <img src="assets/img/img-index-2.jpg" alt="img2" />
      <p class="item_title">Building a Mobile Startup That Makes Money</p>
      <div class="item_bottom align-items-center">
        <img src="assets/img/img-small-2.png" alt="" />
        <!-- <span class="item_name">Mary Solovey</span> -->
        <span class="item_date">6 min read</span>
      </div>
    </a>
    <a class="blog_slider-item" href="./article-3.html">
      <img src="assets/img/img-index-1.jpg" alt="img1" />
      <p class="item_title">How We Created Guillotine Menu Animation for iOS</p>
      <div class="item_bottom align-items-center">
        <img src="assets/img/img-small-3.png" alt="" />
        <!-- <span class="item_name">Pavel Ostapov</span> -->
        <span class="item_date">6 min read</span>
      </div>
    </a>
    <a class="blog_slider-item" href="">
      <img src="assets/img/img-index-2.jpg" alt="img2" />
      <p class="item_title">Why Is Swift Faster Than Objective-C?</p>
      <div class="item_bottom align-items-center">
        <img src="assets/img/img-small-1.png" alt="" />
        <!-- <span class="item_name">Arthur Vasilchenko</span> -->
        <span class="item_date">6 min read</span>
      </div>
    </a>
    <a class="blog_slider-item" href="">
      <img src="assets/img/img-index-1.jpg" alt="img1" />
      <p class="item_title">Building a Mobile Startup That Makes Money</p>
      <div class="item_bottom align-items-center">
        <img src="assets/img/img-small-2.png" alt="" />
        <!-- <span class="item_name">Pavel Ostapov</span> -->
        <span class="item_date">6 min read</span>
      </div>
    </a>
  </div>
  <a class="btn_blog-more" href="#">LEARN MORE</a>
</section>
