<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="footer_logo">
                    <img src="../assets/img/logo-white.svg" alt="MadFish">
                </div>
                <p class="footer_desc">
                    MadFish.solutions 2019
                </p>
            </div>
            <div class="col-5 footer_group">
                <div>
                    <p class="footer_location">Kyiv</p>
                    <p class="footer_str">717 Rd Suite-G, Mt Laurel</p>
                    <p class="footer_tell">1-888-397-7749</p>
                </div>
                <div>
                    <p class="footer_location">Tallinn</p>
                    <p class="footer_str">717 Rd Suite-G, Mt Laurel</p>
                    <p class="footer_tell">1-888-397-7749</p>
                </div>
            </div>
            <div class="col-3 footer_social">
                <div class="footer_social-group">
                    <a href="#">
                        <img src="../assets/img/linkedin.svg" alt="linkedin">
                    </a>
                    <a href="#">
                        <img src="../assets/img/facebook.svg" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="../assets/img/instagram.svg" alt="instagram">
                    </a>
                    <a href="#">
                        <img src="../assets/img/github.svg" alt="github">
                    </a>
                </div>
                <a href="mailto:madfish@gmail.com" class="footer_mail">madfish@gmail.com</a>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>-->
<script src="assets/js/main.js"></script>

</body>
</html>