<header class="header">
    <div class="container align-items-center">
        <div class="header_top">
            <div class="header_left">
                <a href="#">
                    <img src="assets/img/logo-white.svg" alt="logo">
                </a>
            </div>
            <div class="header_right">
                <a class="header_right-link" href="#">
                    CONTACT US
                </a>
                <button class="header_right-btn">
                    <img src="assets/img/btn-menu.svg" alt="open menu">
                </button>
            </div>
        </div>
        <div class="thankyou">
            <div class="thankyou_img">
                <img src="assets/img/confetti.svg" alt="confetti">
            </div>
            <h1 class="thankyou_title">Thank you!</h1>
            <p class="thankyou_desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
            <a class="thankyou_btn" href="#">home</a>
        </div>
        <div class="error_404">
            <h1 class="error_404_title">ERROR</h1>
            <p class="error_404_desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
            <a class="error_404_btn" href="#">home</a>
        </div>
        <div class="about-h">
            <div class="about_text">
                <p>WE ARE MADFISH</p>
                <h1>Professional tech team-building service for <img src="assets/img/your_business.svg" alt="your business"></h1>
            </div>
        </div>
    </div>
</header>
