<header class="header">
    <div class="container align-items-center">
        <div class="header_top">
            <div class="header_left">
                <a href="#">
                    <img src="../assets/img/logo-white.svg" alt="logo">
                </a>
            </div>
            <div class="header_right">
                <a class="header_right-link" href="#">
                    CONTACT US
                </a>
                <button class="header_right-btn">
                    <img src="../assets/img/btn-menu.svg" alt="open menu">
                </button>
            </div>
        </div>
    </div>
</header>
