<header class="header">
  <div class="container align-items-center">
    <div class="header_top">
      <div class="header_left">
        <a href="./index.html">
          <img src="assets/img/logo-white.svg" alt="logo" />
        </a>
      </div>
      <div class="header_right">
        <a class="header_right-link" href="/contacts.html">
          CONTACT US
        </a>
        <button class="header_right-btn">
          <img src="assets/img/btn-menu.svg" alt="open menu" />
        </button>
      </div>
    </div>
    <div class="thankyou">
      <div class="thankyou_img">
        <img src="assets/img/confetti.svg" alt="confetti" />
      </div>
      <h1 class="thankyou_title">Thank you!</h1>
      <p class="thankyou_desc">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore
      </p>
      <a class="thankyou_btn" href="https://madfish.solutions">home</a>
    </div>
    <div class="error_404">
      <h1 class="error_404_title">ERROR</h1>
      <p class="error_404_desc">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore
      </p>
      <a class="error_404_btn" href="#">home</a>
    </div>
    <div class="about-h">
      <div class="about_text">
        <p>WE ARE MADFISH</p>
        <h1>
          Professional tech team-building service for
          <img src="assets/img/your_business.svg" alt="your business" />
        </h1>
      </div>
    </div>
    <div class="project-h">
      <div class="project_top">
        <h1>
          Reimagining Mobile for
          <img src="assets/img/Wyndham.svg" alt="Wyndham" />
        </h1>
        <p>
          The mobile-first reimagining of Wyndham's reward program for 7,500+
          properties.
        </p>
      </div>
    </div>
    <div class="projects-h">
      <div class="projects_top">
        <p>CASE STUDIES</p>
        <h1>Some of our finest <img src="assets/img/work.svg" alt="work" /></h1>
      </div>
    </div>
    <div class="blog-h">
      <div class="blog_top align-items-center">
        <div class="blog_top-left">
          <div class="link">
            <a href="#">Latest</a>
            <a href="#">Insights</a>
            <a href="#">Tech</a>
            <a href="#">Design</a>
            <a href="#">Marketing</a>
          </div>
          <a href="#"><img src="assets/img/search.svg" alt="search"/></a>
        </div>
        <div class="blog_top-right">
          <a href="#">subscribe</a>
        </div>
      </div>
    </div>
  </div>
</header>
