<section class="letsgo">
    <div class="container">
        <h2>Let's get in touch and see how <img src="assets/img/we%20can%20help.svg" alt="we can help"></h2>
        <form class="letsgo_form row" action="#">
            <div class="letsgo_form-left col-lg-7 col-md-7 col-sm-12 col-12">
                <div class="letsgo_form-left_top">
                    <input type="text" name="full-name" placeholder="FULL NAME*">
                    <input type="email" name="mail" placeholder="E-MAIL">
                </div>
                <div class="letsgo_form-left_bottom">
                    <textarea name="comments" placeholder="TELL US ABOUT YOUR PROJECT"></textarea>
                </div>
            </div>
            <div class="letsgo_form-right col-lg-5 col-md-5 col-sm-12 col-12">
                <label class="input_group">I​ have read and agree to the Privacy Policy
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>

                <label class="input_group">I​ want to receive updates from MadFish.solutions
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="file" for="upload-photo">Attach file
                    <input type="file" name="photo" id="upload-photo" />
                </label>
                <button type="submit">SEND</button>
            </div>
        </form>
    </div>
</section>